@font-face {
  font-family: Source Sans;
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/SourceSans/SourceSans3-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: SFCompact;
  font-style: light;
  font-weight: 350;
  src: url('@/assets/fonts/SFCompact/SFCompactText-Light.otf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: Source Sans;
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/SourceSans/SourceSans3-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Source Sans;
  font-style: normal;
  font-weight: 600;
  src: url('@/assets/fonts/SourceSans/SourceSans3-Semibold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Source Sans;
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/SourceSans/SourceSans3-Bold.ttf') format('truetype');
  font-display: swap;
}
